//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	padding: 8px 32px;
	font-weight: 700;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
	color: $mainBlack;
	background: $mainYellow;
	@extend %cuf;
	transition: background 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background: #b8a45a;
		}
	}
	&._fw {
		width: 100%;
	}
}
